html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body {
    display: block;
    line-height: 2.4rem;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $white;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.page_wrapper {
    background: $lightGray;
    padding-top: 100px;
    height: 100%;

    @include media($mobile) {
        padding-top: 50px;
    }
}

input[type='text'], input[type='email'], select {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #a0a0a0;
    padding: 20px 10px;
    color: #4a4b4b;

    @include media($mobile) {
        height: 35px;
        padding: 15px 10px;
    }

    &.border_error {
        border: 1px solid red;
    }
}
