
$pureBlack: #000;
$white: #fff;

//OPT FORM

$red: #e23756;
$redHover: #c40030;
$black: #4a4b4b;
$lightGray: #f8f8f8;

//Money Lovers
$MLGreen: #00994c;
$MLDarkGreen: #028342;
$MLLightGray: #f2efea;

